body
{
    background-color: rgb(255, 255, 255);
}
.Secc1
{
    background-color: rgb(29, 26, 26);
    float: left;
    height:1450px;
    width: 400px;
    color: white;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
}

h3
{
    text-align: left;
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
}
h1
{
    font-family: Arial;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 40px 0px 0px;
}

.img
{
    width: 400px;
}
h2
{
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
h4
{
    background-color: rgb(46, 45, 45);
}
.Secc1-1
{
    margin-top: 5px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}

h5
{
    background-color: rgb(46, 45, 45);
    font-size: 18px;
}
.Secc2
{
    background-color:rgb(254, 203, 0);
    height: 200px;

}
.Secc2-2
{
    font-family: Arial;
    font-size: 18px;
    text-align: center;
    text-align: justify;
    font-weight: bold;
}
.Secc2-3
{
    color: rgb(0, 0, 0);
    font-family: Arial;
    text-align: center;
    text-align: justify;
    font-size: 18px;
    font-weight: bold;
}
.fecha1
{
    float: left;
    padding: 0px 237px;
}
.fecha2
{
    float: left;
    padding: 0px 237px;
}
.fecha3
{
    float: left;
    padding: 0px 237px;
}
.texto1
{
    float: left;
    padding: 0px 560px;
    width: 350px;
}
.texto2
{
    float: left;
    padding: 0px 560px;
    width: 350px;
}
.texto3
{
    float: left;
    padding: 0px 560px;
    width: 350px;
}
.Secc3
{
    font-family: Arial;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    
}
.Secc3-1
{
    float: left;
    padding: 0px 300px 0px;
}
.Secc3-2
{
    float: left;
    padding: 0px 50px;
}
